In [ ]:
import pandas as pd,numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns
import sklearn
from sklearn import svm
import sklearn.model_selection as model_selection
from sklearn.metrics import accuracy_score
from sklearn.metrics import f1_score
from sklearn.model_selection import train_test_split
from sklearn.decomposition import PCA
data=pd.read_csv("/content/cleaned_dataset.csv")
data=data[['tempmax','tempmin','dew','humidity','precip','sealevelpressure','conditions']]

In [ ]:
data

     tempmax  tempmin   dew  humidity  precip  sealevelpressure conditions
0       23.0     16.0  15.1      79.3   0.000            1018.6      Clear
1       23.0     14.0  14.6      82.3   0.000            1017.3     cloudy
2       24.0     14.0  14.1      77.6   0.000            1015.9      Clear
3       23.0     13.0  13.4      78.0   0.000            1016.6      Clear
4       24.0     13.0  13.0      75.7   0.000            1015.8      Clear
..       ...      ...   ...       ...     ...               ...        ...
390     26.0     16.0  18.2      83.5   0.000            1017.0     cloudy
391     26.0     17.8  17.3      79.9   0.000            1016.4     cloudy
392     25.0     18.0  17.2      81.4   0.000            1016.5     cloudy
393     23.0     17.0  17.4      88.3   0.988            1018.9      rainy
394     24.0     15.0  16.4      82.2   0.000            1019.4      Clear

[395 rows x 7 columns]

In [ ]:
from sklearn.ensemble import GradientBoostingClassifier

In [ ]:
y=data['conditions']
x=data[['tempmax','tempmin','dew','humidity','precip','sealevelpressure']]
x_train, x_test, y_train, y_test = model_selection.train_test_split(x, y,  test_size=0.50, random_state=101)# Or same in test_size=.25

In [ ]:
# from sklearn.preprocessing import OneHotEncoder
# from sklearn import preprocessing
# encoder = preprocessing.LabelEncoder()
# encoder.fit(y_train)
# y_train = encoder.transform(y_train)
# # encoding test labels 
# encoder.fit(y_test)
# y_test = encoder.transform(y_test)

In [ ]:
model = GradientBoostingClassifier(n_estimators=100, learning_rate=.2,
  max_depth=1, random_state=50)
model.fit(x_train, y_train)
model.score(x_test,y_test)

0.898989898989899

In [ ]:
model.predict(x_test)

array(['Clear', 'rainy', 'cloudy', 'cloudy', 'rainy', 'rainy', 'cloudy',
       'Clear', 'rainy', 'cloudy', 'rainy', 'cloudy', 'Clear', 'rainy',
       'rainy', 'rainy', 'Clear', 'cloudy', 'Clear', 'rainy', 'rainy',
       'rainy', 'Clear', 'cloudy', 'rainy', 'cloudy', 'rainy', 'cloudy',
       'cloudy', 'Clear', 'cloudy', 'Clear', 'cloudy', 'Clear', 'cloudy',
       'rainy', 'rainy', 'cloudy', 'Clear', 'rainy', 'cloudy', 'cloudy',
       'rainy', 'Clear', 'rainy', 'cloudy', 'rainy', 'rainy', 'cloudy',
       'rainy', 'cloudy', 'Clear', 'cloudy', 'Clear', 'Clear', 'rainy',
       'rainy', 'Clear', 'cloudy', 'Clear', 'rainy', 'cloudy', 'Clear',
       'cloudy', 'cloudy', 'rainy', 'Clear', 'Clear', 'Clear', 'Clear',
       'cloudy', 'rainy', 'rainy', 'rainy', 'rainy', 'Clear', 'rainy',
       'rainy', 'rainy', 'Clear', 'rainy', 'cloudy', 'Clear', 'Clear',
       'cloudy', 'cloudy', 'Clear', 'rainy', 'rainy', 'rainy', 'rainy',
       'Clear', 'Clear', 'cloudy', 'cloudy', 'cloudy', 'Clear', 'rainy',
       'rainy', 'cloudy', 'Clear', 'Clear', 'Clear', 'cloudy', 'Clear',
       'Clear', 'cloudy', 'rainy', 'rainy', 'rainy', 'Clear', 'rainy',
       'cloudy', 'Clear', 'rainy', 'cloudy', 'Clear', 'Clear', 'Clear',
       'rainy', 'cloudy', 'cloudy', 'Clear', 'Clear', 'rainy', 'cloudy',
       'Clear', 'cloudy', 'cloudy', 'cloudy', 'cloudy', 'rainy', 'rainy',
       'cloudy', 'Clear', 'rainy', 'rainy', 'rainy', 'rainy', 'rainy',
       'rainy', 'cloudy', 'rainy', 'rainy', 'Clear', 'rainy', 'cloudy',
       'rainy', 'cloudy', 'rainy', 'Clear', 'rainy', 'cloudy', 'Clear',
       'rainy', 'rainy', 'rainy', 'Clear', 'rainy', 'rainy', 'Clear',
       'rainy', 'cloudy', 'cloudy', 'cloudy', 'cloudy', 'cloudy',
       'cloudy', 'cloudy', 'cloudy', 'rainy', 'cloudy', 'Clear', 'rainy',
       'cloudy', 'Clear', 'rainy', 'Clear', 'rainy', 'rainy', 'rainy',
       'cloudy', 'rainy', 'rainy', 'rainy', 'cloudy', 'cloudy', 'Clear',
       'cloudy', 'Clear', 'rainy', 'Clear', 'rainy', 'cloudy', 'rainy',
       'rainy', 'cloudy', 'rainy'], dtype=object)

In [ ]:
from sklearn.metrics import classification_report
print(classification_report(model.predict(x_test), y_test))

              precision    recall  f1-score   support

       Clear       0.84      0.78      0.81        54
      cloudy       0.82      0.88      0.85        64
       rainy       1.00      1.00      1.00        80

    accuracy                           0.90       198
   macro avg       0.89      0.88      0.89       198
weighted avg       0.90      0.90      0.90       198